.footer {
  background-color: #2c2f4b;
  color: #fff;
  padding: 3em;
  margin-top: 5em;
}

.footer .flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer .flex .footer-company {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
  padding-top: 3em;
}

.footer .flex .footer-company .social {
  padding-top: 4em;
  display: flex;
  list-style: none;
  flex-direction: row;
  padding-left: .3em;
}

.footer .flex .footer-company .social .social-icons {
  padding-right: .7em;
}

.footer .flex .footer-nav {
  display: flex;
  flex-direction: row;
  padding-top: 1.7em;
  margin-right: 2em;
}

.footer .flex .footer-nav .nav {
  list-style-type: none;
}

.footer .flex .footer-nav .nav .nav-items {
  padding-bottom: .8em;
  padding-left: 1em;
}

.footer .flex .footer-nav .nav .nav-items .items-link {
  color: #fff;
  text-decoration: none;
}

.footer .flex .footer-misc {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
  padding-top: 2em;
  margin-right: -5em;
}

.footer .flex .footer-misc .misc-copyright {
  padding-top: 2em;
}
